@model ProjeKamp.Models.Admin

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Admin</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
