@model IEnumerable<ProjeKamp.Models.Post>

<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
      />
      <meta name="description" content="" />
      <meta name="author" content="" />

      <title>Proje Kamp - Create Camp</title>

      <!-- Custom fonts for this template-->
      <link
        href="~/vendor/fontawesome-free/css/all.min.css"
        rel="stylesheet"
        type="text/css"
      />
      <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet"
      />
        <link
        href="~/vendor/datatables/dataTables.bootstrap4.min.css"
        rel="stylesheet"
      />


      <!-- Custom styles for this template-->
      <link href="~/css/sb-admin-2.min.css" rel="stylesheet" />

      <script src="~/js/panel/header/header.js"></script>
      <script src="~/js/panel/sidebar/sidebar.js"></script>
      <script src="~/js/panel/footer/footer.js"></script>
    </head>
  </head>
  <body id="page-top">
    <div id="wrapper">
      <my-sidebar></my-sidebar>

     <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
                
          <my-Header></my-Header>
          <div class="container-fluid">
           <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PostName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostCounty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfParticipants)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PostName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostCounty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostHour)
            </td>

            <td>
                <img src="~/Images/@item.PostUri" width="100" height="100"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfParticipants)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminId)
            </td>
            <td>
                <a asp-action="Details" asp-controller="Post" asp-route-id="@item.PostId"><button class="btn btn-success">Details</button></a> |
                <a asp-action="Delete" asp-controller="Post" asp-route-id="@item.PostId"><button class="btn btn-danger">Delete</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
        <!-- End of Main Content -->
        </div>
        <my-footer></my-footer>
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    


    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/panel/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/js/panel/demo/chart-area-demo.js"></script>
    <script src="~/js/panel/demo/chart-pie-demo.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

  </body>
</html>
