@{

    Post postForModal = ViewData["postForModal"] as Post;
    List<User> userForModal = ViewData["userListForModal"] as List<User>;
    User user = ViewData["userDetail"] as User;
}
@inject LanguageService language

<!DOCTYPE html>
<html>
    <head>

     <link href="~/css/listPost.css" rel="stylesheet" />
      <script src="~/js/listCamp.js"></script>

       <link
      href="~/vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />



    </head>
    <body >


<div class="container-fluid">
    <div class="row">

        <div class="col-xl-2 col-lg-2 col-md-12">
           <div class="sidebarModal">
        <div class="sidebarTitle">
          <h3>@language.Getkey("liste")</h3>
        </div>
        <hr>
        <div class="sidebarCamp">
                        @foreach(var item in userForModal)
                        {
                            <p>@item.UserName</p>
                        }
                    </div>
      </div>
        </div>
        <div class="col-xl-10 col-lg-10 col-md-12">
                      <div class="card">
             <div class="row">
                 <div class="col-xl-6 col-lg-12 col-md-12 mb-3">
                        <div class="cardHeader">
                          <img src="https://www.lansweeper.com/wp-content/uploads/2018/05/ASSET-USER-ADMIN.png" class="avatarImg">
                          <span>B201210392</span>
                        </div>
                        <div class="card-body">
                          <img src="~/Images/@postForModal.PostUri" class="card-img-top">
                          <div class="content">
                            <div class="row">
                              <div class="col-12">
                                <div class="postName">@language.Getkey("adi"): <span>@postForModal.PostName</span>
                                </div>
                              </div>
                              <div class="col-6">
                                <div class="postCity">@language.Getkey("sehir"): <span>@postForModal.PostCity</span>
                                </div>
                              </div>
                              <div class="col-6">
                                <div class="postCounty">@language.Getkey("ilce"): <span>@postForModal.PostCounty</span>
                                </div>
                              </div>
                              <div class="col-6">
                                <div class="postDate">@language.Getkey("tarih"): <span>@postForModal.PostDate</span>
                                </div>
                              </div>
                              <div class="col-6">
                                <div class="postHour">@language.Getkey("saat"): <span>@postForModal.PostHour</span>
                                </div>
                              </div>
                              <div class="col-6">
                                <div class="numberOfPartifipants"> @language.Getkey("kontenjan"): <span>@postForModal.NumberOfParticipants</span>
                                </div>
                              </div>
                              <div class="col-12">
                                <div class="postContent">@language.Getkey("detay"): <span>@postForModal.PostContent</span>
                                </div>
                              </div>
                            </div>
                          </div>
                              <div class="buttons mt-4">

                                    <a asp-action="DeleteDetail" asp-controller="Post" asp-route-id="@user.UserId">                                
                                  <button class="btn btn-danger" >
                                        <div class="emitter"></div>
                                        <div class="hand">
                                          <div class="thumb"></div>
                                        </div>
                                        <span>@language.Getkey("ayril")</span>
                                        
                                  </button>
                                  </a>
                                   <a asp-action="ListPost" asp-controller="Post" asp-route-id="@user.UserId">                                
                                  <button class="btn btn-primary" >
                                        <div class="emitter"></div>
                                        <div class="hand">
                                          <div class="thumb"></div>
                                        </div>
                                        <span>@language.Getkey("listeyeDon")</span>
                                        
                                  </button>
                                  </a>
                              </div>
                           

                             </div>
                              </div>
                               <div class="col-xl-6 col-lg-12 col-md-12">
                                   <div class="card-body">
                               <iframe src="@postForModal.PostMap" width="600" height="560" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                               </div>
                                </div>

                     

                      
                    </div>
                   
                    </div>

            </div>



    </div>
</div>

        

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    </body>
</html>
