@model IEnumerable<ProjeKamp.Models.Post>

@{
    ViewData["Title"] = "Index";
    var username = ViewData["username"];
}


    <h1>@username</h1>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

           <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PostName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostCounty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfParticipants)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PostName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostCounty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostHour)
            </td>

            <td>
                <img src="~/Images/@item.PostUri" width="400" height="400"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfParticipants)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminId)
            </td>
            <td>
                <a asp-action="Index" asp-controller="Post" asp-route-id="@item.PostId"><button class="btn btn-success">Join</button></a> 
            </td>
        </tr>
}
    </tbody>
</table>
