@model IEnumerable<ProjeKamp.Models.Post>

@{
    ViewData["Title"] = "Index";
    var username = ViewData["username"];
    var posts = TempData["posts"] as List<Post>;

}
@inject LanguageService language

<!DOCTYPE html>
<html>
    <head>

     <link href="~/css/listPost.css" rel="stylesheet" />
      <script src="~/js/listCamp.js"></script>

       <link
      href="~/vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />



    </head>
    <body >


<div class="container-fluid">
    <div class="row">

            <div class="col-2">
        <div class="cityList mb-4">
            <h3>@language.Getkey("kampSehir")</h3>
            
            @foreach(var item in Model)
            {
                        <p><i class="fas fa-city"></i> @Html.ActionLink(item.PostCity, "Filter", "Post", new {  @class= "linkClass" ,reportID = item.PostCity }, null)
                        </p>
                        <p> @Html.ActionLink(@language.Getkey("sehirlereGozAt"), "ListPost", "Post", new {  @class= "linkClass"}, null)
                        </p>
                        break; 
                    }
             
        </div>

        <div class="sidebar">
        <div class="sidebarTitle">
          <h3>@language.Getkey("kampKatil")</h3>
        </div>
        <div class="sidebarCamp">
           @foreach(var item in posts)
                        {
        
                            <p data-toggle="modal" data-target=""><i class="fas fa-hiking"></i>@Html.ActionLink(item.PostName, "GetDetailForModal", "Post", new {  @class= "linkClass" ,reportID = item.PostId,username=@username }, null)</p>
                            
                        }
        
        </div>
      </div>
        </div>
        <div class="col-10">
            <div class="row">
            @foreach(var item in Model)
            {
                DateTime dateTime = DateTime.Parse(item.PostDate);
                int result = DateTime.Compare(DateTime.Now, dateTime);

                    <div class="col-xl-6 col-md-12 mb-4">
                      <div class="card" style="width: 40rem;">
                        <div class="cardHeader">
                          <img src="https://www.lansweeper.com/wp-content/uploads/2018/05/ASSET-USER-ADMIN.png" class="avatarImg">
                          <span>B201210392</span>
                        </div>
                        <div class="card-body">
                           
                                    @if (@result == 1)
                                    {
                                        <img src="~/Images/@item.PostUri" class="card-img-top" style="filter: sepia(100%) blur(2px);">
                                    }
                                    else
                                    {
                                        <img src="~/Images/@item.PostUri" class="card-img-top">
                                    }
                          <div class="content">
                            <div class="row">
                              <div class="col-12">
                                <div class="postName">@language.Getkey("adi"): <span>@item.PostName</span>
                                </div>
                              </div>
                              <div class="col-6">
                                <div class="postCity">@language.Getkey("sehir"): <span>@item.PostCity</span>
                                </div>
                              </div>
                              <div class="col-6">
                                <div class="postCounty">@language.Getkey("ilce"): <span>@item.PostCounty</span>
                                </div>
                              </div>
                              <div class="col-6">
                                <div class="postDate">@language.Getkey("tarih"): <span>@item.PostDate</span>
                                </div>
                              </div>
                              <div class="col-6">
                                <div class="postHour">@language.Getkey("hout"): <span>@item.PostHour</span>
                                </div>
                              </div>
                              <div class="col-6">
                                <div class="numberOfPartifipants"> @language.Getkey("kontenjan"): <span>@item.NumberOfParticipants</span>
                                </div>
                              </div>
                              <div class="col-12">
                                <div class="postContent">@language.Getkey("detay"): <span>@item.PostContent</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          @if(@result == -1){
                              <div class="buttons mt-4">

                                    <a asp-action="Record" asp-controller="Post" asp-route-id="@item.PostId">                                
                                  <button class="button" >
                                        <div class="emitter"></div>
                                        <div class="hand">
                                          <div class="thumb"></div>
                                        </div>
                                        <span>@language.Getkey("kampIstek")</span>
                                        
                                  </button>
                                  </a>
                              </div>
                          }                               

                            

                        </div>
                      </div>
                    </div>

            }
            </div>
               </div>
            


    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    </body>
</html>
