@model IEnumerable<ProjeKamp.Models.Post>

@{
    ViewData["Title"] = "Index";
    var username = ViewData["username"];
    var posts = TempData["posts"] as List<Post>;

}
@inject LanguageService language

<!DOCTYPE html>
<html>
    <head>

     <link href="~/css/listPost.css" rel="stylesheet" />
      <script src="~/js/listCamp.js"></script>

       <link
      href="~/vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />



    </head>
    <body >


<div class="container-fluid">
    <div class="row">

            <div class="col-2">
        <div class="cityList mb-4">
            <h3>@language.Getkey("kampSehir")</h3>
            
            @foreach(var item in Model)
            {
                        <p><i class="fas fa-city"></i> @Html.ActionLink(item.PostCity, "Filter", "Post", new {  @class= "linkClass" ,reportID = item.PostCity }, null)
                        </p>
                        <p> @Html.ActionLink("Şehirlere Göz Atın", "ListPost", "Post", new {  @class= "linkClass"}, null)
                        </p>
                        break; 
                    }
             
        </div>

        <div class="sidebar">
        <div class="sidebarTitle">
          <h3>@language.Getkey("kampKatil")</h3>
        </div>
        <div class="sidebarCamp">
           @foreach(var item in posts)
                        {
        
                            <p data-toggle="modal" data-target=""><i class="fas fa-hiking"></i>@Html.ActionLink(item.PostName, "GetDetailForModal", "Post", new {  @class= "linkClass" ,reportID = item.PostId,username=@username }, null)</p>
                            
                        }
        
        </div>
      </div>
        </div>
        <div class="col-10">
            <div class="row">
            @foreach(var item in Model)
            {
                DateTime dateTime = DateTime.Parse(item.PostDate);
                int result = DateTime.Compare(DateTime.Now, dateTime);

                    <div class="col-xl-6 col-md-12 mb-4">
                      <div class="card" style="width: 40rem;">
                        <div class="cardHeader">
                          <img src="https://www.lansweeper.com/wp-content/uploads/2018/05/ASSET-USER-ADMIN.png" class="avatarImg">
                          <span>B201210392</span>
                        </div>
                        <div class="card-body">
                          <img src="~/Images/@item.PostUri" class="card-img-top">
                          <div class="content">
                            <div class="row">
                              <div class="col-12">
                                <div class="postName">Kamp Adı: <span>@item.PostName</span>
                                </div>
                              </div>
                              <div class="col-6">
                                <div class="postCity">Şehir: <span>@item.PostCity</span>
                                </div>
                              </div>
                              <div class="col-6">
                                <div class="postCounty">İlçe: <span>@item.PostCounty</span>
                                </div>
                              </div>
                              <div class="col-6">
                                <div class="postDate">Tarih: <span>@item.PostDate</span>
                                </div>
                              </div>
                              <div class="col-6">
                                <div class="postHour">Saat: <span>@item.PostHour</span>
                                </div>
                              </div>
                              <div class="col-6">
                                <div class="numberOfPartifipants"> Kontenjan: <span>@item.NumberOfParticipants</span>
                                </div>
                              </div>
                              <div class="col-12">
                                <div class="postContent">Detay: <span>@item.PostContent</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          @if(@result == -1){
                              <div class="buttons mt-4">

                                    <a asp-action="Record" asp-controller="Post" asp-route-id="@item.PostId">                                
                                  <button class="button" >
                                        <div class="emitter"></div>
                                        <div class="hand">
                                          <div class="thumb"></div>
                                        </div>
                                        <span>Katılmak İstiyorum</span>
                                        
                                  </button>
                                  </a>
                              </div>
                          }                               

                            

                        </div>
                      </div>
                    </div>

            }
            </div>
               </div>
            


    </div>
</div>

        <div class="modal fade" id="dsdad" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Kmp Adı</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-3">
              
            <div class="sidebarModal">
              <div class="sidebarTitle">
                <h3>Katılımcılar</h3>
              </div>
              <hr>
              <div class="sidebarCamp">
                <p><i class="fas fa-user"></i>Yasin</p>
              </div>
            </div>
          </div>

          <div class="col-9">
              <h3>Kamp Alanı</h3>
             <img src="~/Images/1f39645e-7fbb-4b76-a531-21644d1b30c2_abant.jpg" class="card-img-top">
           <h3>Kamp Konumu</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3006.353429291548!2d29.02772287721475!3d41.104971696827064!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab5e9c526060b%3A0x23714649263bf9a9!2sEspressolab%20%C4%B0stanbul%20Teknik%20%C3%9Cniversitesi%20Ayaza%C4%9Fa!5e0!3m2!1str!2str!4v1672192218104!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Kamptan Ayrıl</button>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    </body>
</html>
